[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">=1.30"
altair = "*"
pandas = "*"
google-cloud-firestore = "*"
streamlit-analytics = {editable = true, path = "."}

[dev-packages]
black = "*"

[requires]
python_version = "3.8"